# ========================
# ENV & SECRETS
# ========================
.env
*.env
*.json
keys/
gcs.json
*.pem
*.key

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# ========================
# VIRTUAL ENV
# ========================
venv/
dbt-env/
env/

# ========================
# DATA FILES
# ========================
data/
*.csv
*.parquet
*.json

# ========================
# LOGS
# ========================
logs/
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# AIRFLOW
# ========================
airflow/logs/
airflow/*.db

# ========================
# TERRAFORM
# ========================
.terraform/
*.tfstate
*.tfstate.backup

# ========================
# MISC
# ========================
*.zip
*.tar.gz

# Windows zone identifier files
*:Zone.Identifier

# Spark output
spark/output/

# JAR files
*.jar

# dbt local config
.user.yml